<!-- manage-product.component.html -->

<div class="container-fluid">
    <div class="row">
            <div class="col-md-4" *ngFor="let p of products">
             <div class="card">
                <div class="card-header">
                <img [src]="p.productImage" alt="" class="card-img-top">
                </div>
                <div class="card-body" *ngIf="!p.productEdit">
                    <h4 class="card-title">{{p.productName}}</h4>
                    <p class="card-text">{{p.productDescription}}</p>
                    <p class="card-text">{{p.productCompany}}</p>
                    <p class="card-text">{{p.productPrice}}</p>
                </div>
                <div class="card-body" *ngIf="p.productEdit">
                  <input type="text" name="p" [(ngModel)]="p.productName">
                  <input type="text" name="p" [(ngModel)]="p.productDescription">
                  <input type="text" name="p" [(ngModel)]="p.productCompany">
                  <input type="text" name="p" [(ngModel)]="p.productPrice">
                </div>
                <div class="card-footer">
                <button class="btn btn-warning" *ngIf="!p.productEdit" (click)="toUpdate(p)">Edit</button>   
                <button class="btn btn-primary" *ngIf="p.productEdit" (click)="toSave(p)">Save</button>
                <button class="btn btn-danger" (click)="delete(p)">Delete</button>
                </div>
             </div>
            </div>
    </div>
</div>