/* admindashboard.component.css */

@media only screen and (min-width:700px) {
    

.navbar{
    width: 250px;
    padding:15px;
    padding-bottom:500px;
    position: absolute;
    left:0px;
}

.bg-JK{
    background-color: darkslateblue;
}
.navbar-nav{
    margin-top:50px;
}
.nav-item{
    padding-top:10px;
    margin-left:20px;
}
}

@media only screen and(max-width:500px){
    .img{
        display:none;
    }
}